html, body, #wrapper {
/*    display: flex;
    flex-direction: column;
    justify-content: space-between;*/
    background-color: rgb(15, 14, 69);
    width: 100%;
/*    min-height: 400px;*/
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper {
    position: relative;
}
#navbar, #core {
    position: absolute;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 97%;
/*    top:1px;*/
/*    bottom: 1px;*/
    height: 40px;
/*    background-color: rgb(15, 14, 69);*/
    background-color: rgb(15, 14, 69);;
    box-shadow: 0 0 2px 2px rgb(52, 82, 158) inset;
    border-radius: 6px;
    padding-right: 6px;
    margin: 2px 0px 0px 6px;

/*    border: 2px solid pink;*/
}

#logopane {
/*    min-height: 36px;*/
    width: 35%;
    height: 100%;
/*    background-color: rgb(15, 14, 69);;*/
/*    border: 2px solid lime;*/
}

#logo-text {
    color: rgb(201, 121, 16);
    font-family: monospace;
    font-size: 32px;
    margin: auto;
    padding-left: 20px;
    text-shadow: 4px 4px 8px #FF0000;
/*    border: 2px solid lime;*/
}

#actionpane {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 65%;
    max-width: 540px;
/*    max-width: 800px;*/
    height: 100%;

}

.action-btn {
    border: none;
    color: white;
    padding: 0px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
/*    margin: auto;*/
    cursor: pointer;
    margin: 6px;
/*    margin-left: 10px;*/
    font-weight: bold;
     border-radius: 8px;
    background-color: rgb(15, 14, 69);;
    box-shadow: 0 0 2px 2px rgb(52, 82, 158) inset;
    border-radius: 6px;
    text-shadow: 2px 2px 8px 8px #FF0000;
}

#btn-run { 
    color: rgb(201, 121, 16);
    background-color: rgb(15, 14, 69);
    box-shadow: 0 0 2px 2px lime inset;
}

#btn-stop { 
    color: rgb(201, 121, 16);; 
    background-color: rgb(15, 14, 69);
    box-shadow: 0 0 2px 2px red inset;
}

#btn-download { 
    background-color: orange; 
} 

.action-selector {
    padding: 0px 8px;
    background-color: rgb(54, 140, 201); 
    border-radius: 4px;
    color: rgb(201, 121, 16);
    font-weight: bold;
    cursor: pointer;
    margin: 6px;
    background-color: rgb(15, 14, 69);;
    box-shadow: 0 0 2px 2px rgb(201, 121, 16) inset;
    border-radius: 6px;
    text-shadow: 2px 2px 8px #FF0000;

}


#runicon {
    color: lime;
    font-size: 1.2em;
/*    text-shadow: 2px 2px 2px 2px lime;*/
}

#stopicon {
    color: red;
    font-size: 1.8em;
/*    text-shadow: 0px 0px 2px 2px red;*/
}



#core {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 40px;
    bottom: 0;
/*    min-height: 400px;*/
    width: 100%;
/*    height: 100%;*/
/*    background-color: green;*/
/*    margin-top: 10px;*/
/*    border: 2px solid red;*/

}


#fileexplorer-wrapper {
/*    float: left;*/
/*    min-width: 200px;*/
    width: 2%;
/*    min-height: 400px;*/
    height: 99%;
    margin: 6px 0px 0px 6px;



    background-color: rgb(15, 14, 69);;
    box-shadow: 0 0 2px 2px rgb(52, 82, 158) inset;
    border-radius: 6px;
}

#container {
    position: relative;
    width: 98%;
/*    height: 100%;*/
}

#editor, #terminal {
    position: absolute; 
}

#editor {
    top: 0;
    bottom: 30%;
    width: 97%;
    background-color: black;;
    box-shadow: 0 0 2px 2px rgb(52, 82, 158);
    border-radius: 6px;
    margin: 8px 0px 2px 10px;
}
#terminal {
    /*display: flex;
    flex-direction: row;
    justify-content: space-around;*/
    bottom: 0;
    height: 29%;
    width: 100%;
    background-color: rgb(15, 14, 69);
/*    border: 2px solid green;*/
}

#terminal_screen {
    width: 97%;
    height: 90%;
    overflow: auto;
    background-color: black;;
    box-shadow: 0 0 2px 2px rgb(52, 82, 158) inset;
    border-radius: 6px;
    margin: 0px 10px 0px;
/*    margin: auto;*/
/*    max-height: 100%;*/
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    padding-top: 8px;
    padding-bottom: 8px;
}

#terminal_screen::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}




/* Tweaking API default styles */
.CodeMirror {
    border-radius: 6px;
/*    font-family: monospace;*/
    font-size: 16px;
    height: 100%;
/*    width: 100%;*/
}

.CodeMirror-gutter {
    min-width: 1em; 
    cursor: pointer;
/*    padding: 10px;*/
}

/* .CodeMirror-foldgutter {
 color: black;
 background-color: red;
 font-size: 18px;
} */